/* @import "../sass/variables"; */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    overflow-x: hidden;
    font-family:$font-family-title-subt;
    color:$colour-gral;
   //ver
}

