$colourGralDay: #572EE5;


//Font-family
$font-family-title-subt: 'Montserrat';
$font-family-btn: 'Montserrat';
$font-family-text:'Montserrat';
$font-family-search-compartir:'Roboto';


//font-size
$font-size-xxs:13px;
$font-size-xs:14px;
$font-size-s:15px;

$font-size-m:16px;
$font-size-l:18px;
$font-size-xl:20px;
$font-size-xll:22px;
$font-size-xxl:25px;
$font-size-xxxl:30px;
$font-size-xxxxl:35px;

//color
$colour-gral:#572EE5; 
$colour-search: #6B7989;
$colour-black: #000000;
$colour-white:#FFFFFF;
$colour-fondo-grifos:#F3F5F8;
$colour-fondo-grifos-noc: #222326;
$colour-fondo-Noc:#37383C;
$colour-line:#9CAFC3;
$colour-search-desk: #9CAFC3;
$colour-sin-Res:#50E3C2;
$colour-btn-noc:#6B7989;
$colour-clikFav-Desktop: #9CAFC3;
$colour-subrayado:#5ED7C6;

//font-weight
$bold: 700; //IDEM BOLD
$medium: 500;
$regular:400;